<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-xs-5 col-sm-5 col-md-5">
        <div class="oron" (click)="goHome()">ORON Works!</div>
      </div>
      <div class="col-xs-2 col-sm-2 col-md-2"></div>
      <div class="col-xs-5 col-sm-5 col-md-5">
        <div class="cart-badge-div" (click)="checkout()">
          <!-- <div class="cart" (click)="checkout()"> -->
          <!-- <span class="notify-badge">hi</span> -->
          <img class="cart" src="../../assets/icons/online-shopping-cart.svg" alt="">
          <!-- </div> -->
        </div>
      </div>
    </div>
  </div>
  <div (click)="goToDistributorConsole()" class="oron">distributor</div>
</div>