.input-cases-pieces {
  padding-top: 15px;
}

.ok-icon {
  height: 55px;
  width: 55px;
  background-image: url('../../../assets/icons/checked.svg');
  margin: auto;
}

.ok-div {
  text-align: center;
}

.error-icon {
  height: 55px;
  width: 55px;
  background-image: url('../../../assets/icons/cancel.svg');
  margin: auto;
}
